html{
    overflow: hidden;
    background-color: #ffffff;

    --jpeg-header-percent:0.1;
    --byte-index-percent:0.0;
    --byte-scrollbar-color:rgb(255,0,100);
    --text-box-height:100px;
    --title-height:80px;
    --scrollbar-width:60px;
    --byte-display-width:300px;

    width:100%;
    user-select: none;;
}

body {
    width: 100%;
    margin:0;
}
#about_page{
    visibility:hidden;
    position:absolute;
    display:block;
    /* right:0px; */
    right:calc( var(--scrollbar-width) + var(--byte-display-width));
    left:0px;
    top:var(--title-height);
    bottom:var(--text-box-height);
    background-color: white;
    z-index: 2;
}

#app_container{
    position:absolute;
    font-family:monospace;
    left:0;
    right:0;
    top:0;
    bottom:0;
    display:grid;
    grid-template-columns: auto var(--scrollbar-width) var(--byte-display-width);
    grid-template-rows: var(--title-height) auto var(--text-box-height);
    grid-template-areas: 
    "toolbar bytescrollbar textoutput"
    "image bytescrollbar textoutput"
    "textinput bytescrollbar textoutput";
}
#image_container{
    image-rendering: pixelated;
    grid-area:image;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width:100%;
    margin:10px;
}
#image_container img{
    width:100%;
    height: 100%;
    max-height:calc( calc(100vh - var(--title-height) - var(--text-box-height) - 150px) / 2);
    padding:10px;
    user-select: none;
    object-fit: contain;
}
#processed_image{
    /* border:2px dashed rgb(255,0,100);;
    border-radius:10px; */
    filter: drop-shadow(5px 5px 4px rgb(255, 0, 100));
}
#original_image{
    cursor:pointer;
    filter: drop-shadow(5px 5px 4px rgb(180,180,255));
}

#title_container{
    display: flex;
    gap:20px;
}
/* holds the title */
#title{
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 24pt;
    transform-origin: top left;
    transform: scaleX(1.8);
    /* margin-left:50px; */
    margin-right:120px;
    width:fit-content;
    height:fit-content;
    color:rgb(255,0,100);
}
/* holds the textArea element */
#text_input_holder{
    position:relative;
    grid-area:textinput;
    display:block;
    padding:0px 15px 30px 15px;
}
#text_input_description{
    /* align-self:left;
    width:fit-content; */
    padding:7.5px;
    float:left;
}

#text_input_area{
    font-family: 'Times New Roman', Times, serif;
    resize:none;
    width:calc(100% - 40px);
    height:calc(100% - 60px);
    outline:1px dashed black;
    outline-offset: 1px;
    border:0px;
    border-radius:10px;
    /* padding:1ch; */
    padding:20px;
}
#text_input_area:focus{
    background-color: yellow;
}

#byte_scrollbar_container{
    grid-area:bytescrollbar;
    width:100%;
    height:100%;
    background-color: blue;
    cursor:pointer;
}
#byte_scrollbar_pre{
    height: calc(var(--byte-index-percent)*100%);
    width:100%;
    background-color: var(--byte-scrollbar-color);
    pointer-events: none;
}
.file_section_highlight{
    background-color: transparent;
    width:1px;
    position:absolute;
    right:calc( var(--byte-display-width) + var(--scrollbar-width) + 2px);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    z-index:2;
}
#jpeg_header_highlight{
    height:calc(100vh * var(--jpeg-header-percent));
    top:2px;
    border: 2px solid rgb(34, 126, 255);
    border-right:2px solid transparent;
}
#jpeg_body_highlight{
    height:calc(100vh * calc(1.0 - var(--jpeg-header-percent)) - 20px);
    bottom:2px;
    border: 2px dashed rgb(0, 189, 0);
    border-right:2px solid transparent;
}
.jpeg_scrollbar_tag{
    z-index:2;
    font-size: 10px;
    position:absolute;
    right:calc( var(--byte-display-width) + var(--scrollbar-width) + 2ch);
}
#jpeg_header_tag{
    color:rgb(34, 126, 255);
    top:calc(50vh * var(--jpeg-header-percent));
}
#jpeg_body_tag{
    color:rgb(0, 189, 0);
    bottom:calc( var(--text-box-height) - 2em );
}
#byte_display{
    writing-mode:vertical-lr;
    position:fixed;
    right:calc( var(--byte-display-width) + var(--scrollbar-width)/2 - 0.5ch);
    top: calc(max(1ch,min(var(--byte-index-percent) * 100vh - 14.5ch,calc(100vh - 28ch))));
    color:white;
    text-wrap: nowrap;
    /* transform:scale(2,1); */
    pointer-events: none;
    user-select: none;
}
#byte_index_buttons{
    position:absolute;
    right:calc( var(--byte-display-width) + var(--scrollbar-width) + 1ch);
    top: calc(max(calc(min(var(--byte-index-percent) * 100vh - 55px,calc(100vh - 16ch))),10px));
    display:flex;
    flex-direction: column;
    gap:10px;
}
.byte_button{
    background:blue;
    cursor:pointer;
    display:flex;
    color:white;
    width:30px;
    height:50px;
    justify-content: center;
    align-items: center;
    border-radius:15px;
    z-index: 2;
}
.byte_button:hover{
    background-color:rgb(255,0,100);
}

#binary_text_container{
    grid-area:textoutput;
    overflow-y:scroll;
    /* overflow-x: hidden; */
    overflow-x:scroll;
    font-family:monospace;
    font-size: 8pt;
    background-color: rgb(255, 255, 255);
    color: rgb(100,100,255);
    scroll-behavior: auto; /* Explicitly sets instant scrolling, though it's the default */
    user-select: none;
    z-index: 0;
}
#toolbar{
    grid-area:toolbar;
    /* cursor:pointer; */
    display:flex;
    flex-direction: column;

}
#tools{
    pointer-events: none;
    display:flex;
    z-index:2;
    align-items: center;
    width:fit-content;
}
.toolbar_item{
    background-color: blue;
    color:white;
    pointer-events: all;
    padding:1ch;
    margin-left:10px;
    transition:0.2s;
    border-radius:10px;
    cursor:pointer;
}
.toolbar_item:hover{
    background-color:rgb(255,0,100);
}

#file_selector{
    display:none;
}
.stretched_text{
    transform-origin: top left;
    transform:scale(1,4);
    color:white;
    font-family:monospace;
    margin-right:10px;
}
#error_icon{
    width:100%;
}
#error_text_container{
    color:white;
    position:absolute;
    z-index:3;
    background-color: red;
}
#splash_text{
    color:red;
    font-family:monospace;
    float:right;
}
@media (max-width:800px){
    html{
        overflow:hidden;
        --byte-display-width:0px;
    }
    #app_container{
        grid-template-columns: auto var(--scrollbar-width);
        grid-template-rows: var(--title-height) auto var(--text-box-height);
        grid-template-areas: 
        "toolbar bytescrollbar"
        "image bytescrollbar"
        "textinput bytescrollbar";
    }
    #binary_text_container{
        position:absolute;
        top:var(--title-height);
        bottom:var(--text-box-height);
        right:var(--scrollbar-width);
        left:0px;
    }
    #image_container{
        z-index: 1;
    }
    #byte_index_buttons{
        position:absolute;
        right:calc( var(--byte-display-width) + var(--scrollbar-width) + 4ch);
        top: calc(max(calc(min(var(--byte-index-percent) * 100vh - 55px,calc(100vh - 16ch))),10px));
        display:flex;
        flex-direction: column;
        gap:10px;
    }
    .byte_button{
        width:40px;
        height:60px;
        border-radius:20px;

    }
}